// nextflow.config

// Configure process behavior
process {
    publishDir = [
        path: { "${params.output_dir}/${task.process.replaceAll(':','_')}" },
        mode: 'copy'
    ]

    withName: 'porechopTrimming' {
        cpus = { params.threads_pc }
    }

    withName: 'emuAbundance' {
        cpus = { params.threads_emu }
        conda = '/home/pwoods/miniconda3/envs/py37'
    }
}

conda.enabled = true